
# Airflow runtime
airflow_home/
airflow/
logs/
*.db

# Python environment
venv/
.venv
.env
.envrc
__pycache__/

# Screenshots
screenshots/

# Data artifacts (optional)
data/bronze/
data/gold/

# OS files
.DS_Store

.direnv/CACHEDIR.TAG
