version: "3"
services:
  airflow:
    image: apache/airflow:2.9.0
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./data:/opt/airflow/data
    command: standalone
    ports:
      - "8080:8080"